.alerts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
  overflow-y: auto;
  font-family: Arial, sans-serif;
}

.view-alerts-container,
.create-alerts-container {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: #faf9f6;
  border: 1px solid #888;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.alerts-title {
  color: #ff7f2a;
}

.create-alerts {
  color: #ff7f2a;
  font-size: 24px;
}

.alert-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 320px;
  max-height: 750px;
  overflow-y: auto;
  margin-bottom: 30px;
}

.alert-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 320px;
  margin-bottom: 30px;
}

.alert-form input,
.alert-form select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.alert-form button {
  padding: 10px;
  background-color: #ff944d;
  border: 1px solid #555;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.alert-card {
  width: 100%;
  max-width: 320px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
}

.alert-header {
  background-color: #ff7f2a;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
}

.alert-body {
  padding: 10px;
  font-size: 14px;
  color: #333;
}

.back-button button {
  background-color: red;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.resource-checkbox {
  color: black;
  background-color: white;
}

.form-check {
  background-color: #faf9f6;
}

.form-check-label {
  color: black;
  background-color: #faf9f6;
  font-size: 14px;
}

.form-label {
  border-radius: 5px;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.return-button {
  background: #ff7f2a;
  max-width: 150px;
  color: white;
  font-size: 20px;
  padding: 3px;
  border-radius: 5px;
  text-align: center;
}

.return-button:hover {
  background: #ff944d;
  color: white;
  font-size: 20px;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}
